<div>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h3>
                <md-icon>chat</md-icon>
                <span>ng-chat</span>
            </h3>
        </div>
    </md-toolbar>
    <md-toolbar class="md-hue-1">
        <div class="md-toolbar-tools">
            <h3>
                <span>{{'LOG_IN' | translate}}</span>
            </h3>
        </div>
    </md-toolbar>

    <div flex layout="column" layout-align="start center">
        <p>
            {{'PLEASE_LOG_IN' | translate}} {{vm.msg}}
        </p>
        <md-button ng-click="vm.authenticate('google')">
            <md-icon>open_in_new</md-icon>
            {{'GOOGLE_ACCOUNT' | translate}}
        </md-button>
        <md-button ng-click="vm.authenticate('github')">
            <md-icon>open_in_new</md-icon>
            {{'GITHUB_ACCOUNT' | translate}}
        </md-button>
    </div>
</div>